a {
  text-decoration: none !important;
}
:root {
  --primary-color: #a8a797;
  --letter-colour: #faffd7;
  --highlight-colour: #e1e9ae;
  --box-colour: #423d3a75;
}
html::-webkit-scrollbar {
  display: none;
}
body {
  height: 100% !important;
  background: var(--primary-color);
  margin: 0;
  padding: 0;
}
.navmenu {
  margin-right: 9px;
  padding-left: 5px;
  text-align: center;
  height: 100vh !important;
  align-items: center;
  width: 9.7vw !important;
  background: var(--primary-color);
}
.navmenu2 {
  text-align: center;
  height: 100vh !important;
  align-items: center;
  width: 9.7vw !important;
  background: var(--primary-color);
  margin-top: 5vh;
}
.links {
  justify-content: center;
  height: 90vh;
}
.name {
  color: var(--letter-colour);
  padding-top: 20px;
}
.name2 {
  color: var(--letter-colour);
  padding: 20px 0px 0px 10px;
  font-size: 20px;
}
.links2{
  justify-content: flex-end;
  height: 90vh;
  margin-left: 5px;
}
.nav-link {
  color: var(--letter-colour) !important;
  padding-top:20px;
}
.hero1 {
  height: 100vh !important;
  margin:0px 0px 0px 5px;
  padding: 0;
  background-image: url(../images/main.PNG);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 93.3vw;
}
.title1 {
    text-align: left;
  font-family: "Times New Roman", Times, serif;
  font-size: 7.5vh;
  color: var(--primary-color);
  width: 35vw;
  padding: 25px 30px;
}
.nav-link:hover{
    color: var(--highlight-colour) !important;
}
.card{
  height: 92vh;
  width: 40vw !important;
  margin: 3vh 0px 0px 0px !important;
  padding: 0 !important;
}
.cardb{
  display: flex !important;
  width: 24vw !important;
  height: 44.5vh !important;
  padding: 0;
  margin: 20px 10px 0px 0px;
  background: var(--letter-colour);
  border-radius: 3px;
}
.portstor{
  margin-left: 40vw !important;
}
.aal{
  margin-left: 40vw;
}
.btn2{
  margin-top: 1.5px;
  background: var(--primary-color);
  color: var(--letter-colour);
  border-color: var(--primary-color);
  font-size: 16px;
}
.btn{
  background: var(--highlight-colour);
  color: var(--primary-color);
  border-color: var(--highlight-colour);
}
.btn:hover{
  background: #bfc695;
  border-color: #bfc695;
}
.card{
  background: var(--letter-colour);
}
.img1{
  height: 65vh;
}
.carda{
  color: rgb(90, 90, 90);
}
.hero2 {
  height: 100vh !important;
  margin:0px 0px 0px 21px;
  padding: 0;
  background-image: url(../images/aboutme.PNG);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 93.3vw;
}
.title2 {
  text-align: left;
font-family: "Times New Roman", Times, serif;
font-size: 8vh;
color: var(--letter-colour);
width: 35vw;
padding: 25px 30px;
}
#abt {
  font-size: 4.5vh;
  color: var(--letter-colour);
  background: var(--box-colour);
  width: 40vw;
  margin-left: 5vw;
  padding: 1vh 1vw;
}
.contact{
  width: 90vw !important;
}
.info{
 /* margin-right: 60vw !important;
  margin-bottom: 15vh;*/
  width: 15vw !important;
  height: 20vh;
}
.infobox{
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  width: 90vw!important;
  margin-bottom: 15vh;
  margin-left: 5vw;
  margin-top: 60px;
}
.github1{
  margin-bottom: 45px;
}
.titlec{
color: var(--letter-colour);
}
.textc{
  color: var(--letter-colour);
}
.skillbar{
  width: 80vw !important;
  height: 25px !important;
  margin-bottom: 20px;
}
.progress-bar{
  background: var(--highlight-colour) !important;
  color: #828174;
}
.tt{
  width: 80vw !important;
  display: flex;
  color: var(--letter-colour);
  margin: 20px 0px 20px 0px;
}
main#mobile{
  width: 100%;
}
/*Media large screen*/
@media only screen and (min-width: 400px){
  main#mobile{
    display: none;
  }
  }
/*Media small screen*/
@media only screen and (max-width: 400px){
main#one{
  display: none;
}
}